<div class="footer background-light">
    <div class="container">
        <p class="light-text">Made with <i class="fas fa-heart"></i> </p>
        <p class="light-text">&copy; <a href="https://www.instagram.com/yousef_medhat56/">Yousef Medhat</a> &amp; <a href="https://www.instagram.com/muhamedsafwat_/">Muhamed Safwat</a></p>
    </div>
</div>
</body>

<script src="../js/header.js"></script>