<div class="footer background-light">
    <div class="container">
        <p class="light-text">Made with <i class="fas fa-heart"></i> </p>
        <p class="light-text">&copy; <a href="https://www.instagram.com/yousef_medhat56/" target="_blank">Yousef Medhat</a> &amp; <a href="https://www.instagram.com/muhamedsafwat_/" target="_blank">Muhamed Safwat</a></p>
    </div>
</div>
</body>

<script src="../js/header.js"></script>
<script src="../js/messagesContainer.js"></script>
<script>
    window.addEventListener("pageshow", (event) => {

        /*if the page is loaded from the cache or after clicking the back button of the browser,
         (historyTraversal) will be true*/
        const historyTraversal = event.persisted || (window.performance.navigation.type === 2);

        if (historyTraversal) {

            // Handle page restore.
            window.location.reload();
        }
    });
</script>