<%- include("./partials/header.ejs") %>

    <body>
        <div class="container">
            <div class="content">
                <h2><i class="fas fa-bomb"></i> error 404</h2>
                <p class="light-text">the page you have requestd doesn't exist</p>
                <a href="" class="light-text">go back</a>
            </div>
        </div>
        <!--Footer-->
        <%- include("./partials/footer.ejs") %>

            </html>