<%- include("./partials/header.ejs") %>

    <body>
        <div class="container">
            <div class="about-content">
                <div class="heading">
                    <h2 class="light-text">about sarahah-clone</h2>
                    <p class="light-text">
                        sarahah-clone is a website built to practice our web development skills inspired by
                        <a href="https://www.sarahah.com/" target="_blank">sarahah.com</a> using only JavaScript
                    </p>
                </div>
                <div class="about-us">
                    <div class="card">
                        <div class="image"><img src="./assets/muhamed.jpeg" alt=""></div>
                        <div class="info light-text">
                            <h4>muhamed safwat</h4>
                            <h5>frontend developer</h5>
                            <div class="social-links">
                                <a class="insta" href="https://www.instagram.com/sfwat.dev/" target="_blank"><i class="fab fa-instagram"></i></a>
                                <a class="git" href="https://github.com/Muhamedsafwat" target="_blank"><i class="fab fa-github"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image"> <img src="./assets/joe.jpeg" alt=""></div>
                        <div class="info light-text">
                            <h4>yousef medhat</h4>
                            <h5>backend developer</h5>
                            <div class="social-links">
                                <a class="insta" href="https://www.instagram.com/yousef_medhat56/" target="_blank"><i class="fab fa-instagram"></i></a>
                                <a class="git" href="https://github.com/Yousef-Medhat56" target="_blank"><i class="fab fa-github"></i></a>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>

        <%- include("./partials/footer.ejs") %>

            </html>