<%- include("./partials/header.ejs") %>

    <body>
        <div class="container">
            <div class="content">
                <div class="heading">
                    <h2 class="light-text">about sarahah-clone</h2>
                    <p class="light-text">
                        sarahah-clone is a website built to practice our web development skills inspired by
                        <a href="https://www.sarahah.com/">sarahah.com</a> using only java script
                    </p>
                </div>
                <div class="about-us">
                    <div>
                        <h4 class="light-text">front end</h4>
                        <p class="light-text">developed by Muhamed Safwat</p>
                        <p class="more light-text">
                            more info <i class="fas fa-chevron-down"></i>
                        </p>
                        <div class="information">fdhskfhlfkhsd</div>
                    </div>
                    <div>
                        <h4 class="light-text">back end & database</h4>
                        <p class="light-text">developed by Yousef Medhat</p>
                        <p class="more light-text">
                            more info <i class="fas fa-chevron-down"></i>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <%- include("./partials/footer.ejs") %>

            </html>