<%- include("./partials/header.ejs") %>
    <img src="data:image/png;base64,<%=userImage%>" />
    <h1>You are
        <%= username %>
    </h1>
    <form action="/image" method="POST" enctype="multipart/form-data">
        <label for="image">change your image</label>
        <input type="file" name="image" id="image" accept="image/png, image/jpeg">
        <input type="submit" value="Submit">
    </form>

    <%- include("./partials/footer.ejs") %>
        <script src="../js/sendAuthRequest.js"></script>

        </html>