<%- include("./partials/header.ejs") %>
<div class="container">
    <div class="acc-content">
    <img src="data:image/png;base64,<%=userImage%>" alt="user avatar" />
    <h1>You are
        <%= username %>
    </h1>

    <a href="/settings/profile">Edit profile</a>
    <button onclick='sendLogoutReq()'>Log Out</button>
    <button onclick='sendDelAccReq()'>Delete my account</button>
</div>
</div>
    <%- include("./partials/footer.ejs") %>
        <script src="../js/sendDelRequest.js"></script>
        <script src="../js/sendPostRequest.js"></script>
        <script src="../js/sendAuthRequest.js"></script>

        </html>