<%- include("./partials/header.ejs") %>

    <body>
        <div class="container">
            <div class="form">
                <div class="text">sign up</div>
                <form>
                    <label for="username">username</label>
                    <input type="text" name="username" id="username" placeholder="Enter your name..." />
                    <label for="email">email address</label>
                    <input type="email" name="email" id="email" placeholder="Email Adress" />
                    <label for="password">password</label>
                    <input type="password" name="password" id="password" placeholder="Password must be at least 8 characters" />
                    <label for="confirm-password">confirm password</label>
                    <input type="password" id="conform_password" placeholder="Confirm Passord" />
                    <div class="gender">
                        <div class="gendertext">gender</div>
                        <div class="radio">
                            <label for="male" class="radio-label">male</label>
                            <input type="radio" name="gender" id="male" value="male" checked />
                            <label for="female" class="radio-label">female</label>
                            <input type="radio" name="gender" id="female" value="female" />
                        </div>
                    </div>
                    <input type="submit" value="sign-up" class="button" />
                </form>
            </div>
        </div>
    </body>

    <script src="./js/signup.js"></script>

    </html>