<%- include("./partials/header.ejs") %>

    <body>
        <div class="container">
            <div class="form">
                <div class="text">Sign up</div>
                <form>
                    <!--username error message-->
                    <div class="error username"></div>
                    <!--input the username-->
                    <label for="username">username</label>
                    <input type="text" name="username" id="username" placeholder="Enter your name..." />


                    <!--email error message-->
                    <div class="error email"></div>
                    <!--input the email-->
                    <label for="email">email address</label>
                    <input type="text" name="email" id="email" placeholder="Email Adress" />

                    <!--password error message-->
                    <div class="error password"></div>
                    <!--input the password-->
                    <label for="password">password</label>
                    <input type="password" name="password" id="password" placeholder="Password must be at least 8 characters" />

                    <!--confirm password error message-->
                    <div class="error confirmPassword"></div>
                    <!--confirm password-->
                    <label for="confirm-password">confirm password</label>
                    <input type="password" name="confirmPassword" id="confirm-password" placeholder="Confirm Passord" />


                    <!--gender-->
                    <div class="gender">
                        <div class="gendertext">gender</div>
                        <div class="radio">
                            <label for="male" class="radio-label">male</label>
                            <input type="radio" name="gender" id="male" value="male" checked />
                            <label for="female" class="radio-label">female</label>
                            <input type="radio" name="gender" id="female" value="female" />
                        </div>
                    </div>
                    <input type="submit" value="Sign Up" class="button" />
                </form>
            </div>
        </div>
    </body>

    <script src="./js/signup.js"></script>

    </html>