<%- include("./partials/header.ejs") %>

    <body>
        <div class="container">
            <div class="register">
                <div class="form background-light">
                    <div class="text light-text">Sign up</div>
                    <form onsubmit='sendFormReq(event,"/signup")'>

                        <!--username error message-->
                        <div class="error username"></div>
                        <!--input the username-->
                        <label for="username" class="light-text">username</label>
                        <input maxlength="15" type="text" name="username" id="username" placeholder="Enter your name..." />

                        <!--email error message-->
                        <div class="error email"></div>
                        <!--input the email-->
                        <label for="email" class="light-text">email address</label>
                        <input type="text" name="email" id="email" placeholder="Email Adress" />


                        <!--password error message-->
                        <div class="error password"></div>
                        <!--input the password-->
                        <label for="password" class="light-text">password</label>
                        <input type="password" name="password" id="password" placeholder="Password must be at least 8 characters" />


                        <!--confirm password error message-->
                        <div class="error confirmPassword"></div>
                        <!--confirm password-->
                        <label for="confirm-password" class="light-text">confirm password</label>
                        <input type="password" name="confirmPassword" id="confirm-password" placeholder="Confirm Passord" />


                        <!--gender-->
                        <div class="gender">
                            <div class="gendertext light-text">gender :</div>
                            <div class="radio">
                                <label for="male" class="radio-label light-text">male</label>
                                <input type="radio" name="gender" id="male" value="male" checked />
                                <label for="female" class="radio-label light-text">female</label>
                                <input type="radio" name="gender" id="female" value="female" />
                            </div>
                        </div>

                        <input type="submit" value="Sign Up" class="button light-text" />
                        <!-- login redirection -->
                        <p class="redirect light-text">Already have an account? <a href="/login">login</a></p>
                    </form>

                </div>
            </div>
        </div>

        <!--Footer-->
        <%- include("./partials/footer.ejs") %>

            <script src="../js/sendFormRequest.js"></script>

            </html>