<%- include("./partials/header.ejs") %>
    <div class="container">
        <div class="settings background-light">
            <!-- navigation bar -->
            <div class="navigation">
                <ul class="settings-nav">
                    <li><a href="/settings/profile" class="light-text">profile</a></li>
                    <li class="active"><a href="/settings/password" class="light-text">password</a></li>
                    <li><a href="/settings/account" class="light-text">account</a></li>
                </ul>
            </div>
            <!-- settings page 'password' -->
            <div class="settings-content">
                <form onsubmit="sendFormReq(event,'/settings/password','PATCH')">
                    <!--oldPassword error message-->
                    <div class="error oldPassword"></div>
                    <div class="input">

                        <label for="oldPassword" class="light-text">old password</label>
                        <input type="password" name="oldPassword" id="oldPassword">
                    </div>
                    <!--password error message-->
                    <div class="error password"></div>
                    <div class="input">

                        <label for="password" class="light-text">new password</label>
                        <input type="password" name="password" id="password">
                    </div>
                    <!--confirmPassword error message-->
                    <div class="error confirmPassword"></div>
                    <div class="input">

                        <label for="confirmPassword" class="light-text">confirm password</label>
                        <input type="password" name="confirmPassword" id="confirmPassword">
                    </div>
                    <button type="submit" class="submit">Save</button>
                </form>
            </div>
        </div>
    </div>

    <%- include("./partials/footer.ejs") %>
        <script src="../js/sendFormRequest.js"></script>

        </html>