<%- include("./partials/header.ejs") %>
    <div class="container">
        <div class="settings background-light">
            <!-- navigation bar -->
            <div class="navigation">
                <ul class="settings-nav">
                    <li><a href="/settings/profile" class="light-text">Edit profile</a></li>
                    <li class="active"><a href="/settings/changePassword" class="light-text">change password</a></li>
                    <li><a href="/settings/account" class="light-text">account settings</a></li>
                </ul>
            </div>
            <!-- settings page 'password' -->
            <div class="settings-content">
                <form>
                    <div class="input">
                <label for="old" class="light-text">old password</label>
                <input type="password" name="old-password" id="old">
            </div>
            <div class="input">
                <label for="new" class="light-text">new password</label>
                <input type="password" name="new-password" id="new">
            </div>
            <div class="input">
                <label for="confirm" class="light-text">confirm password</label>
                <input type="password" name="confirm" id="confirm">
            </div>
            <button type="submit" class="submit">Save</button>
            </form>
            </div>
        </div>
    </div>

    <%- include("./partials/footer.ejs") %>

        </html>