<%- include("./partials/header.ejs") %>

    <button onclick='sendLogoutReq()'>Log Out</button>
    <button onclick='sendDelAccReq()'>Delete my account</button>

    <%- include("./partials/footer.ejs") %>

        <script src="../js/sendDelRequest.js"></script>


        </html>