<%- include("./partials/header.ejs") %>
    <div class="container">
        <div class="settings">
            <!-- navigation bar -->
            <div class="navigation">
                <ul class="settings-nav">
                    <li><a href="/settings/profile" class="light-text">Edit profile</a></li>
                    <li><a href="/settings/password" class="light-text">change password</a></li>
                    <li class="active"><a href="/settings/account" class="light-text">account settings</a></li>
                </ul>
            </div>
            <div class="settings-content">
                <div class="acc-settings">
                    <button onclick='sendLogoutReq()' class="acc-btn out">Log Out</button>
                    <button onclick='sendDelAccReq()' class="acc-btn del">Delete my account</button>
                </div>
            </div>
        </div>
    </div>

    <%- include("./partials/footer.ejs") %>

        <script src="../js/sendDelRequest.js"></script>


        </html>