<%- include("./partials/header.ejs") %>
    <div class="container">
        <div class="settings background-light">
            <!-- navigation bar -->
            <div class="navigation">
                <ul class="settings-nav">
                    <li><a href="/settings/profile" class="light-text">profile</a></li>
                    <li class="active"><a href="/settings/password" class="light-text">password</a></li>
                    <li><a href="/settings/account" class="light-text">account</a></li>
                </ul>
            </div>
            <!-- settings page 'password' -->
            <div class="settings-content">
                <!--server messages-->
                <div class="server-msg"></div>
                <form onsubmit="sendReq(event,'/settings/password','PATCH')">
                    <!--oldPassword error message-->
                    <div class="error oldPassword"></div>
                    <div class="input">

                        <label for="oldPassword" class="light-text">old password</label>
                        <div class="passowrd-input">
                            <input type="password" name="oldPassword" id="oldPassword" class="light-text pswrd">
                            <i class="fas fa-eye light-text"></i>
                        </div>
                    </div>
                    <!--password error message-->
                    <div class="error password"></div>
                    <div class="input">

                        <label for="password" class="light-text">new password</label>
                        <input type="password" name="password" id="password" class="light-text pswrd">
                    </div>
                    <!--confirmPassword error message-->
                    <div class="error confirmPassword"></div>
                    <div class="input">

                        <label for="confirmPassword" class="light-text">confirm password</label>
                        <input type="password" name="confirmPassword" id="confirmPassword" class="light-text pswrd">
                    </div>
                    <button type="submit" class="submit">Save</button>
                </form>
            </div>
        </div>
    </div>

    <%- include("./partials/footer.ejs") %>
        <script src="../js/sendFormRequest.js"></script>
        <script>
            const sendReq = async(e, path, method) => {
                document.querySelector('.server-msg').innerHTML = ''
                const data = await sendFormReq(e, path, method)
                if (data) {
                    //reset error messages if they are
                    for (err of document.querySelectorAll('.error')) {
                        err.innerHTML = ''
                    }

                    //reset input fields
                    for (inputElm of document.getElementsByTagName('input')) {
                        inputElm.value = ''
                    }

                    //show success update message
                    document.querySelector('.server-msg').innerHTML = `<p class= 'success-msg'><i class="fas fa-check-circle"></i> ${data.message}</p>`
                }
            }
        </script>

        </html>