/* heading styling */
.about-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}
.heading {
  flex-basis: 45%;
  margin-right: 5%;
}
.heading h2 {
  text-transform: capitalize;
  margin-bottom: 20px;
  font-size: 55px;
}
.heading p {
  font-size: 25px;
}
.heading p a {
  text-decoration: none;
  color: #08808e;
  font-weight: bold;
}
.about-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-basis: 50%;
}
.about-us .card {
  margin-bottom: 20%;
  border-radius: 5px;
  display: flex;
  padding: 15px 10px;
}
.image img {
  max-width: 80px;
  border-radius: 50%;
  filter: saturate(0);
  transition: 0.3s;
  box-sizing: content-box;
}
.image img:hover {
  filter: saturate(1);
}
.image {
  margin-right: 10px;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-transform: capitalize;
}
.social-links {
  display: flex;
  justify-content: center;
}
.social-links a {
  color: #888;
  transition: 0.5s;
  font-size: 22px;
  margin-left: 10px;
}
.social-links .insta:hover {
  color: #a13590;
}
.git:hover {
  color: #222;
}
/* responsive styling */
@media (max-width: 650px) {
  .about-content {
    flex-direction: column;
    justify-content: center;
    height: auto;
  }
  .heading {
    flex-basis: auto;
    margin-right: 0;
    margin-bottom: 5vh;
    position: relative;
    text-align: center;
  }
  .heading::after {
    content: "";
    width: 80vw;
    height: 2px;
    background-color: #7ac9d0;
    position: absolute;
    left: calc(10vw - 15px);
    bottom: -3vh;
  }
  .heading h2 {
    text-transform: capitalize;
    margin-bottom: 20px;
    font-size: 30px;
  }
  .heading p {
    font-size: 20px;
  }
  .about-us .card {
    margin-bottom: 20%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 10px;
  }
  .image {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: capitalize;
  }
  .info h4,
  .info h5 {
    margin-bottom: 10px;
  }
  .image img {
    filter: none;
  }
  .insta {
    color: #a13590 !important;
  }
  .git {
    color: #222 !important;
  }
}
