* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* responsive */
@media (max-width: 767px) {
  .container {
    width: 100%;
    padding: 15px !important;
  }
  .form {
    width: 100%;
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
    transform: none !important;
  }
  .form input {
    max-width: 100%;
  }
  .form form {
    max-width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

.form {
  max-width: fit-content;
  margin: 10vh auto;
  color: black;
  padding: 20px 30px;
  border-radius: 5px;
}
.form .text:first-of-type {
  font-size: 30px;
  text-align: center;
  color: black;
  padding: 15px;
  margin: 0 auto 20px auto;
  text-transform: capitalize;
  position: relative;
  width: fit-content;
}
.form .text:first-of-type:after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #7ac9d0;
  position: absolute;
  bottom: 0;
  left: 0;
}
form {
  width: 400px;
  margin: 0 auto;
}
form label {
  text-transform: capitalize;
  margin: 20px 0 10px;
  display: block;
}
form input {
  display: block;
  border-radius: 10px;
  border: none;
  outline: none;
  margin: 0 auto 20px;
  width: 90%;
  padding: 10px 10px;
  border: 1px solid #7ac9d0;
}
form input:focus {
  box-shadow: 0 0 5px 2px #7ac9d0;
}
form input::placeholder {
  font-size: 13px;
  color: #7ac9d0;
  opacity: 0.6;
}
.gender {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
  margin-top: 40px;
  position: relative;
}
.gender::before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #7ac9d0;
  position: absolute;
  top: -50%;
  left: 0;
}
.gendertext {
  text-transform: capitalize;
  font-size: 20px;
  display: flex;
  align-items: center;
}
.gender .radio {
  display: flex;
  align-items: center;
}
.gender input:focus {
  box-shadow: none;
}
.gender input {
  display: inline-block;
  width: auto;
  position: relative;
  margin: 0 20px 0 10px;
}
.gender input::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  border: 1px solid #7ac9d0;
  border-radius: 3px;
  box-shadow: inset 0px 0px 4px #7ac9d0;
}
.gender input:checked::after {
  content: "";
  position: absolute;
  width: 80%;
  height: 80%;
  border: white 2px solid;
  border-radius: 3px;
  background-color: #3096a1d0;
}
.gender input:checked::before {
  box-shadow: 0px 0px 2px 1px #7ac9d0;
  background-color: white;
  transition: 0.3s;
}

.gender label {
  display: flex;
  align-items: center;
  margin: 0;
}
form .button {
  width: auto;
  padding: 7px 20px;
  border-radius: 5px;
  background-color: #08808e;
  color: white;
  border: none;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.7px;
  cursor: pointer;
}
.light-text {
  transition: 0.5s;
  color: rgb(32, 32, 32);
}
.dark-text {
  color: rgb(218, 216, 216) !important;
  transition: 0.5s;
}
.background-light {
  background-color: rgba(0, 0, 0, 10%);
}
.background-dark {
  background-color: rgba(255, 255, 255, 0.08);
}
/* error message styling */
.err-message {
  background-color: #dab9b9d8;
  padding: 6px 12px;
  width: fit-content;
  border-radius: 4px;
  color: #4b0808;
  border: 1.5px solid #4b080838;
  transition: 0.5s;
}
